@media only screen and (max-width: 820px) {

  .cta{
    margin-top: 10px;
  }
  #review .customer-reviews {
    flex-direction: column;
  }

  #review .review-item {
    width: 300px;
    height: 300px;
    margin: 4% 2%;
    padding: 1.5rem;
  }

  .review-item p {
    font-size: initial;
  }

  #pricing .pricing-plans {
    flex-direction: column;

  }

  #pricing .pricing-plans .plan {
    width: 300px;
    height: 530px;
    margin: 6% 2%;
    padding: 1.5rem;
  }

  #contact .contact{
    margin-top: 0;
  }

  #contact .contact-item i {
    font-size: 30px;
    color: #ffffff;
    display: inline-block;
    height: 65px;
    width: 65px;
    background: crimson;
    border-radius: 50%;
    line-height: 65px;
    text-align: center;
    margin-bottom: 3%;
  }
}